body {
  /* width: 100%; */
  display: grid;
  height: 100vh;
  margin: 0px;
  grid-template-columns: repeat(12, 1fr);
  background-color: #2B2733;
  font-family: 'Montserrat', sans-serif;
}

/* target main header */

header {
grid-column: 1/13;
background-color: #46424D;
height: 75%;
}

h1 {
text-align: center;
color: #FFF;
font-weight: 300;
font-size: 25px;
position: relative;
bottom: 8px;
}

/* Main page; always stay the same */

main {
  grid-column: 1/9;
}

.medium-header {
}

h2 {
  color: #CBC9CF;
  font-weight: 300;
}

.section-left {
  padding: 20px 20px 0px 20px;
  margin-bottom: 10px;
}

.move-section-in {
  background-color: #46424D;
  margin-bottom: 20px;
  box-shadow: 10px 8px 13px 0px rgba(38,34,45,1);
}

/* Home page with activity imput options */

.new-activity-page{

}

.all-icons {

}

.activity-icon {
  width: 30px;
}

.lightbulb {
  border: 2px solid black;
}

.lotus-flower {
  border: 2px solid black;
}

.shoe {
  border: 2px solid black;
}
/* Form for 'main' page */

form {

}

label {

}
input.long-input {

}

input.short-input {

}

input.start-activty {

}

/* Start clock page  */

.clock-and-start-button {
    border: 1px #46424D solid;
    text-align: center;
    font-size: 25px;
    color: #FFF;
}

.selected-action {
  position: relative;
  top: 24px;
}

.selected-time {
  margin: 0px 20px 30px;
  font-size: 80px;
  font-weight: bold;
}

button.timer {
    border: 3px solid #C278FD;
    font-size: 25px;
    font-weight: 300;
    border-radius: 50%;
    margin-bottom: 190px;
    height: 220px;
    width: 220px;
    color: #fff;
    background-color: #46424D;
}

/* Create new activity page */

.create-new-activity {
  height: 525px;
}
button.new {
  position: relative;
  left: 33%;
  top: 20%;
  padding: 5px 60px;
  border-radius: 5px;
  font-size: large;
  font-family: 'Montserrat', sans-serif;
}

/* Target the aside portion of the webpage */

aside {
  border-left: 2px solid #46424D;
  grid-column: 9/13;
  color: #CBC9CF;
  margin-top: -20px;
}

.aside-header {
  padding: 40px 0px 0px 20px;
}

.past-activities-log {
  border: 2px solid #2B2733;
  text-align: center;
}
